html {
    scroll-behavior: smooth;
    color-scheme: dark light;
}

html, body {
    overflow-x: hidden; 
    max-width: 100%;
}

body {
    font-family: 'Times New Roman', serif;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

h2 {
    color: #04251E;
    font-size: 3rem;
}

.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    @mixin atMedium {
        right: 30px;
    }
    z-index: 99;
    font-size: 1.5rem;

    a {
       color: #D2AC47;
    }
}