.about {
    background: $black;
    /*background-image: url('./assets/images/9.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;*/
    color: $white;
    @mixin forSmall {
        padding: .5rem;
    }

    &__title {
        text-align: center;
        color: $gold;
    }

    &__top {
        margin-inline: auto;
        padding-inline: 1.5rem;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        div {
            flex: auto;
            padding: 1.5rem;
            @mixin atMedium {
                flex: 1;
            }

            img {
                border-bottom-right-radius: 5rem;
            }

            h3 {
                margin: 0;
                @mixin textGradient;
            }
        }
    }
}