.diagonal {
    margin: 10rem auto;
    --skew-angle: -5deg;
    /*--background: linear-gradient(45deg, $greenish, $black);*/
    --background: $black;
    position: relative;
    isolation: isolate;
    color: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {
        padding: 2rem;
    }
  }
  
  .diagonal::after {
    content: '';
    background: var(--background);
    /*background-image: url('./assets/images/13.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
  }

  .diagonal-reverse {
    margin: 10rem auto;
    --skew-angle: 5deg;
    /*--background: linear-gradient(45deg, $greenish, $black);*/
    --background: $black;
    position: relative;
    isolation: isolate;
    color: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {
        padding: 2rem;
    }
  }
  
  .diagonal-reverse::after {
    content: '';
    background: var(--background);
    /*background-image: url('./assets/images/13.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
  }