.exclusive {
    background: $greenish;
    color: $white;

    &__title {
        color: $gold;
        text-align: center;
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @mixin forSmall {
            flex-direction: column;
        }

        div {
            flex: auto;
            margin: .5rem;
            @mixin atMedium {
                flex: 1;
                margin: 2rem;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        @mixin forSmall {
            text-align: center;
        }

        h3 {
            @mixin textGradient;
            margin: 0;
            font-size: 1.2rem;
            @mixin atMedium {
                font-size: 1.5rem;
            }
            text-transform: capitalize;

            span {
                margin-right: .5rem;
            }
        }
    }

    &__sec {
        h3, p {
            text-align: left;
        }
    }

    img {
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 5rem;
    }
}