.highlight {
    display: flex;
    flex-wrap: wrap;
    background: $greenish;
    color: $white;

    div {
        flex: auto;
        @mixin atMedium {
            flex: 1;
        }
    }

    &__img {
        @mixin forSmall {
            order: 2;
        }
    }

    /*&__img2 {
        background-image: url('./assets/images/highlight2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 50vh;
        @mixin atMedium {
            height: 70vh;
        }
    }*/

    &__desc {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
            margin: 0 1rem 2rem 1rem;
            @mixin atMedium {
                margin: 0 2rem;
            }
        }
    }
}