.products {
    background: linear-gradient(90deg, $greenish, $black);
    /*background: $gold;*/

    &__title {
        color: $gold;
        text-align: center;
    }

    &__items {
        display: grid;
        gap: 2rem;
        @mixin atMedium {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.collections {
    /*background: $gold;*/
    background-image: url('./assets/images/9.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    &__title {
        color: $gold;
    }
}