.sub-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $greenish;
    padding-block: 1.5rem;
    
    @mixin atMedium {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    /*transition: all 1s ease-out;*/

    &--is-visible {
        background: $greenish;
    }

    &__logo {
        width: 200px;
        padding: 10px;

        @mixin atMedium {
            padding: 0;
        }
    }

    &__nav {
        display: none;
        opacity: 0;
        /*transition: all 1s ease-out;*/
        @mixin atMedium {
            display: flex;
            opacity: 1;
            
        }

        &--is-visible {
            display: flex;
            opacity: 1;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;

            @mixin atMedium {
                flex-direction: row;
            }
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin: 1rem;

            @mixin atMedium {
                margin: 1.5rem;
            }
        }

        a {
            text-decoration: none;
            font-size: 1rem;
            @mixin atMedium {
                font-size: 1.35rem;
            }
            color: $gold;
        }
    }

    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        top: 40px;
        right: 20px;
        z-index: 10;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $gold;
            width: 20px;
            height: 3px;
            transform-origin: 0 0; /*top left point*/
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            background-color: $gold;
            width: 20px;
            height: 3px;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $gold;
            width: 20px;
            height: 3px;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .sub-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }
}